
 *{
 	margin: 0px;
 }

 body{
 	font-family:'Roboto', sans-serif;
 	height: 100vh;
 }

 h1{
 	padding: 10px 2px 10px 15px;
 	font-weight: 300;
 	background-color: rgba(42, 165, 235, 0.88);
 	color: white;
 }

 .navitem{
 	display: inline-block;
 	margin: 11px;
 }

 .navitem::after, .navitem::before{
 	content: "\00a0 ";
 }

 /* make the hyperlinks look like normal text
 by removing the underline and making the color
 black */
 a{
 	color: black;
 	text-decoration: none;
 }

 .active{
 	border-bottom: 3px solid rgb(115, 189, 231);
 }

 .navlist{
 	list-style-type: none;
 	margin: 0;
 	padding: 3px;
 	font-weight: 400;
 }

 .navbar-search{
 	float: right;
 }

 #navbar-search-input{
 	font-size:16px;
	border-radius:3px;
	border: 1px solid rgb(223, 223, 223);
 }

 #navbar-search-button{
 	cursor: pointer;
 	border: 0px;
 	background-color: white;
 }

 #navbar-search-button:hover{
 	color: rgba(115, 189, 231,0.50);
 }

 li{
 	font-size: 20px;
 }

 .twit-container{
 	padding: 50px 75px 200px 100px;
 	display: flex;
 	flex-direction: row;
 	flex-wrap:  wrap;
 	background-color: rgba(227, 228, 232,0.40);

	justify-content: flex-start;
	align-items: center;
 }

 .twit{
 	padding: 32px 75px 16px 64px;
 	border: 1px solid rgb(223, 223, 223);
 	border-radius: 3px;
 	margin: 4px;
 	background-color: rgb(255, 255, 255);

	min-width: 100px;
	max-width: 250px;
	min-height: 100px;
 }

 .twit-icon{
 	position: relative;
 	top: 22px;
 	left: -30px;
 }

 .twit-text{
 	font-size: 16px;
 }

 .twit-content{
 	width:250px;
 	height: 95px;
 	display: inline-block;
 }

 .twit-author{
 	font-weight: 600;
 	font-size: 18px;
 	text-align: right;
 	color: rgb(0, 0, 0);

 	/* position */
 	position: relative;
 	bottom: -10px;
 	right: -20px;
 }

 a:hover{
 	color: rgb(114, 175, 238);
 }

 input:focus{
 	background-color: white;
 }

 input:not(:focus){
 	background-color: rgba(231, 231, 238,0.60);
 }

 #create-twit-button{
 	/* position of the icon */
	font-size: 25px;
 	position: fixed;
 	bottom: 50px;
 	right: 25px;

 	/* properties */
 	background-color: rgb(224, 78, 67);
 	color: white;
 	border: 0px;
 	border-radius: 200px;
 	width: 55px;
 	height: 55px;

 	/* shadow property */
 	box-shadow: 5px 5px 10px rgba(0,0,0,0.25);

 	/* cursor */
 	cursor: pointer;
 }

 #create-twit-button:hover{
	font-size: 37px;
 	background-color: rgb(115, 189, 231);
 	width: 65px;
 	height: 65px;
 }
