<article class="twit">
	<div class="twit-icon">
		<!-- The <i> tag below includes the bullhorn icon from Font Awesome.  Do not directly style this element. -->
		<i class="fas fa-bullhorn"></i>
	</div>
	<div class="twit-content">
		<p class="twit-text">
			{{text}}
		</p>
		<p class="twit-author">
			<a href="#">{{author}}</a>
		</p>
	</div>
</article>
